nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.2rem;
    font-family: "Press Start 2P", system-ui;

}

.left {
    display: flex;      
    width: 100%;
    padding: 0.5rem 0.5rem;
    backdrop-filter: blur(5px);
    gap: 1rem;
    align-items: center;

    p {
        font-size: 0.5rem;
        font-family: "Press Start 2P", system-ui;
        color: white;
    }
}

.right {
    display: flex;
    width: 12% !important;
    // background-color: red;
    gap: 1rem;
}