.cli-window {
    height: 100%;
    overflow-y: auto;
    padding-bottom: 3rem;
    background-color: #0a0a0a;


    div[name="react-console-emulator"] {
        height: 100%;
        padding-bottom: 3rem;
        background-color: transparent !important;
    }

}