.cards{
    overflow: scroll;
    padding: 3rem;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;

    .card{
        max-width: 25rem;
        color: rgba(255, 255, 255, 0.797);
        padding: 1rem 0.75rem;
        background-color: #1c1c1c;
        border-radius: 0.75rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        img{
            height: 100%;
            width: 100%;
        }
        h1{
            font-size: 1rem;
            margin-top: 1rem;
            white-space: wrap;
            font-weight: 500;
        }
    }

}