.note-window{
    color: white;
    font-size: 0.9rem !important;
    overflow-y: auto;
    height: 100%;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    padding: 1rem;
    line-height: 2rem;
}