.note-window{
    color: rgba(255, 255, 255, 0.596);
    font-size: 1.3rem !important;
    font-weight: 900;
    overflow-y: auto;
    height: 100%;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    padding: 1rem;
    line-height: 2rem;
}