/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

/* HTML & Body Setup */
html,
body,
#root {
  height: 100%;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

main {
  height: 100vh;
  width: 100%;
  background-color: black;
}

@media (min-width : 240px) and (max-width:768px) {
  body {
    overflow: hidden !important;
  }
}